﻿
@{
    ViewBag.Title = "Shifts Tab";
    int i = 1;
}


@model IEnumerable<AMiON.Helper.AssignmentDetails>
<style>
    @@font-face {
        font-family: "Segoe UI";
        font-weight: 200;
        src: local("Segoe UI Light");
    }

    @@font-face {
        font-family: "Segoe UI";
        font-weight: 300;
        src: local("Segoe UI Semilight");
    }

    @@font-face {
        font-family: "Segoe UI";
        font-weight: 400;
        src: local("Segoe UI");
    }

    @@font-face {
        font-family: "Segoe UI";
        font-weight: 600;
        src: local("Segoe UI Semibold");
    }

    @@font-face {
        font-family: "Segoe UI";
        font-weight: 700;
        src: local("Segoe UI Bold");
    }

    @@font-face {
        font-family: "Segoe UI";
        font-style: italic;
        font-weight: 400;
        src: local("Segoe UI Italic");
    }

    @@font-face {
        font-family: "Segoe UI";
        font-style: italic;
        font-weight: 700;
        src: local("Segoe UI Bold Italic");
    }
</style>

<style>
    .citeCustom {
        color: rgba(37,36,36,0.75);
        /* font-family: "Segoe UI"; */
        font-size: 12px;
        line-height: 16px;
        font-weight: normal !important;
    }

    .rowCustom {
        margin: 10px 12px !important;
    }

    .dropdown-menu li:hover {
        cursor: pointer;
        background: #F4F4F4;
    }

    .navbar {
        margin-bottom: 0px !important;
        padding: 7px 0px;
        min-height: 48px
    }

    .ImportShiftDiv {
        font-family: "Segoe UI";
    }

    .SelDepartment {
        border: none;
        background: inherit;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        color: #252423;
        font-family: inherit;
        font-size: 14px;
        font-weight: bold;
    }

    #SpanDepartment {
        font-size: 14px !important;
    }

    .SelDepartment:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        color: #6264A7;
    }

    .SelDepartment:hover {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        color: #6264A7;
    }

    .SelDepartmentOption {
        height: 200px;
        overflow-y: auto;
    }

    .txtDatetimePicker {
        cursor: pointer;
        background: inherit;
        font-size: 17px;
        border: none;
        -webkit-box-shadow: none;
        float: left;
        box-shadow: none;
        border-radius: 0;
        color: #252423;
        font-family: inherit;
        font-size: 14px;
        font-weight: bold;
    }

        .txtDatetimePicker:hover {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
            color: #6264A7;
        }

        .txtDatetimePicker:focus {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
            color: #6264A7;
        }

    .SelectDepartment {
        cursor: pointer;
    }

        .SelectDepartment label {
            font-weight: normal !important;
            font-size: 13px !important;
        }

    .ShiftInActive {
        background: #F9F8F7;
    }

        .ShiftInActive td {
            color: #979593;
            font-size: 14px;
        }

    .ShiftActive {
        background: #FFFFFF
    }

        .ShiftActive td {
            color: #484644;
            font-family: inherit;
            font-size: 14px;
        }

    #AmionShiftDetailsTable tr td, #AmionShiftDetailsTable tr th {
        height: 48px;
        vertical-align: middle;
    }

    #AmionShiftDetailsTable thead tr td {
        font-size: 12px
    }

    #AmionShiftDetailsTable tbody tr td span {
        overflow-wrap: break-word;
    }
</style>
<style>
    .styled-checkbox {
        position: absolute;
        opacity: 0;
    }

        .styled-checkbox + label {
            position: relative;
            cursor: pointer;
            padding: 0;
        }

            .styled-checkbox + label:before {
                content: '';
                margin-right: 10px;
                display: inline-block;
                vertical-align: text-top;
                width: 15px;
                height: 14px;
                background: #6264A7;
                border-radius: 15%;
                margin-top: 3px;
            }

        .styled-checkbox:hover + label:before {
            background: #6264A7;
        }

        .styled-checkbox:focus + label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        .styled-checkbox:checked + label:before {
            background: #6264A7;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #6264A7;
            }

        .styled-checkbox:checked + label:after {
            content: '';
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }
</style>
<style>
    .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td {
        padding: 8px !important;
    }

    .datepicker > .datepicker_inner_container > .datepicker_calendar {
        width: 15.3em !important;
    }

    .datepicker_table tr th {
        padding-left: 8px !important;
        font-weight: 500;
        font-size: 14px;
        font-family: Segoe UI !important;
    }

    .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.active {
        background-color: #6264A7;
    }



    .datepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item.active {
        background-color: #6264A7 !important;
    }

    .datepicker_header > span {
        vertical-align: initial;
        padding: 5px;
        font-size: 14px;
        color: #252423;
        font-weight: bold;
    }

    .datepicker > .datepicker_header > a {
        color: gray;
    }

    .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.wday_sat, .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.wday_sun {
        color: inherit !important;
    }

    .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.day_another_month.wday_sat, .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.day_another_month.wday_sun {
        color: #cccccc !important;
    }

    .datepicker {
        background-color: rgb(210, 210, 210);
        border: 1px solid rgb(200, 200, 200);
        border-radius: 3px;
        box-shadow: rgb(200, 200, 200) 0.5px 0px 3px;
    }

        .datepicker > .datepicker_header > a:hover {
            background-color: #6264A7 !important;
        }

    .datepicker_header {
        background-color: #FFFFFF !important;
    }
</style>
<style>
    /*Switch*/
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #FFFFFF;
        -webkit-transition: .4s;
        transition: .4s;
        border: 1px solid gray;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 1px;
            bottom: 1px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border: 1px solid gray;
        }

    input:checked + .slider {
        background-color: #6264A7;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #6264A7;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(21px);
        -ms-transform: translateX(21px);
        transform: translateX(21px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
    /*switch*/

</style>
<style>
    .EditColumnIcon {
        float: right;
        margin: 10px;
        margin-top: 6px;
        cursor: pointer;
        color: inherit;
    }
</style>
<style>
    table.tablesorter {
    }

        table.tablesorter tbody tr {
            animation-name: tablesorter-anim;
            animation-duration: 0.15s;
        }

    th.tablesorter-header {
        cursor: pointer;
    }

    th.tablesorter-sorting {
        cursor: wait;
    }

    th.tablesorter-unsorted:before {
        content: "" !important;
    }

    th.tablesorter-desc:after {
        content: "\23F6";
        color: rgba(37,36,36,0.75);
    }

    th.tablesorter-desc:before {
        content: "" !important;
    }

    th.tablesorter-asc:after {
        content: "\23F7";
        color: rgba(37,36,36,0.75);
    }

    th.tablesorter-asc:before {
        content: "" !important;
    }
</style>
<style>
    .ulcustom {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .EditColumnIcon {
        float: right;
        margin: 10px;
        margin-top: 6px;
        cursor: pointer;
        color: inherit;
    }

    .btnEditColumnIcon {
        font-size: x-small;
        font-weight: 400;
        float: right;
        left: 7px;
        color: lightslategrey;
        cursor: pointer;
        top: 6px;
    }

    .btnEditColumn {
        background-color: #f3f2f0;
        border: none;
        color: black;
        /*padding: 5px 11px 5px 9px;*/
        font-size: 14px;
        cursor: pointer;
        float: left;
        margin-right: 8px;
        font-weight: 600 !important;
        /* cursor: crosshair; */
        cursor: move;
        text-decoration: none !important;
        margin-bottom: 4px !important;
        padding: 0.6em 1.2em;
    }

        .btnEditColumn:hover {
            color: black !important;
        }

        .btnEditColumn i, .EditColumnClose {
            line-height: 16px;
            font-weight: 500;
            color: rgba(37,36,36,0.75);
            /* font-family: "Teams Assets"; */
            bottom: 0px;
            /* margin-bottom: -14px; */
            vertical-align: baseline;
            font-family: sans-serif !important;
            cursor: pointer;
            margin-left: 10px;
            font-size: 20px;
            font-style: normal;
        }


    .one-edge-shadow {
        -webkit-box-shadow: 0 8px 6px -6px gray;
        -moz-box-shadow: 0 8px 6px -6px gray;
        box-shadow: 0 8px 6px -6px gray;
    }
</style>

<style>
    .padding5px {
        padding: 5px 5px;
    }

    .InputSearchShiftDetails {
        width: 11em;
        height: 32px;
        background: #E8E7E6 !important;
        border: none !important;
    }

    .ShowSwitchIfToday {
        margin-right: 13px;
        margin-top: 6px;
        float: right
    }

        .ShowSwitchIfToday span {
            color: rgba(37,36,36,0.65);
            font-family: Segoe UI;
            font-size: 10px;
            font-weight: 600;
        }

    .btnEditColumnSave {
        box-shadow: 0 2px 4px -0.75px rgba(0,0,0,0.25);
        min-width: 90px;
    }
</style>
<style>
    .table_head_font {
        font-weight: 500;
        font-size: 12px;
        color: rgba(37,36,36,0.75);
    }
</style>

<div id="root"></div>
<script src="~/Scripts/react/dist/bundle.js"></script>
<link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/10.0.0/css/fabric.min.css" />

<div class="ImportShiftDiv ms-Fabric ms-bgColor-gray20" style="font-family:Segoe UI;">
    <div class="navbar" id="MainNavBar">
        <div class="pull-left" id="MainLeftDiv">
            <div class="btn-group pull-left">
                <button class="btn SelDepartment" type="button" data-toggle="dropdown" title="Select a Team">
                    <span id="SpanDepartment">All Groups</span>
                    <i class="ms-Icon ms-Icon--ChevronDown" style="top: 5px; font-size:xx-small;"></i>
                </button>
                <ul class="dropdown-menu SelDepartmentOption ms-md6" style="min-width: 219px; ">
                    <li class="SelectDepartment padding5px OnClickSelectDepartment">
                        <div>
                            <input class="styled-checkbox " id="chkAllGroups" type="checkbox">
                            <label for="chkAllGroups">All Groups</label>
                        </div>
                    </li>
                    @foreach (var Department in ViewBag.DepartmentList)
                    {
                        <li class="SelectDepartment padding5px OnClickSelectDepartment">
                            <div>
                                <input class="styled-checkbox " id="chkAllGroups-@(i)" type="checkbox">
                                <label for="chkAllGroups-@(i++)">@Department</label>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <input type='button' readonly="readonly" class="txtDatetimePicker btn pull-right" id="datetimepicker" value="" />
        </div>
        <div class="pull-right" style=" width:30px">
            <a class="EditColumnIcon" data-toggle="dropdown"><i title="Edit column" class="ms-Icon ms-Icon--More"></i></a>
            <ul class="dropdown-menu" style="width: 15em;right: 0; left:auto">
                <li class="padding5px ShowEditColumnModel">
                    <div>
                        <label>  <a class="glyphicon glyphicon-pencil"></a> <span style="cursor:pointer">Edit Columns</span></label>
                    </div>
                </li>
                <li class="padding5px">
                    <div>
                        <label>  <a class="glyphicon glyphicon-question-sign"></a> <span style="cursor:pointer">Help</span></label>
                    </div>
                </li>
            </ul>

        </div>
        <div class=" pull-right" id="MainRightDiv">
            <div class="ui small icon input pull-right">
                <input type="text" class="InputSearchShiftDetails OnKeyUpSearchShiftDetails OnblurSearchShiftBlur" placeholder="Search...">
                <i class="search icon "></i>
            </div>
            <div style="" class="ShowSwitchIfToday">
                <label class="switch">
                    <input type="checkbox" class="chkInactiveStatus OnclickShowHideInactiveShiftDetails">
                    <span class="slider round"></span>
                </label>
                <span>Inactive Shifts</span>
            </div>
        </div>
        <input type="hidden" value="@ViewBag.EditColumns" id="hdnEditColumns" />
    </div>
    <div id="divEditColumnModel" style="width: 100%;
    background: white;
    position: absolute;z-index: 1; display:none;" class="one-edge-shadow">
        <div class="row rowCustom">
            <label style="float:left">Edit Columns</label>
            <i title="Close" class="pull-right EditColumnClose HideEditColumnModel">x</i>
        </div>
        <div class="row rowCustom">
            <ul id="ulEditShiftColumnList" class="ulcustom "></ul>
        </div>
        <div class="row rowCustom" id="divAddColumn">
            <label style="width: 25px;float: left;margin-top: 7px;font-family: sans-serif;font-size: 30px;color: rgba(37,36,36,0.75); font-weight:normal"> + </label>   <ul id="ulRemovedShiftColumns" class="ulcustom"></ul>
        </div>
        <div class="row rowCustom">
            <label style="float:left"><cite class="citeCustom">Drag column names to change order</cite></label>
            <button type="button" class="btn btn-primary btnEditColumnSave pull-right OnClickSaveEditedColumns">Save</button>
        </div>

    </div>
    <div id="ChildMainDiv" style="padding: 7px 5px; min-height:48px; display:none" class="navbar">
        <div class="ShowSwitchIfToday pull-left">
            <label class="switch">
                <input type="checkbox" class="chkInactiveStatus OnclickShowHideInactiveShiftDetails">
                <span class="slider round"></span>
            </label>
            <span> Inactive Shifts</span>
        </div>
        <div class="ui small icon input pull-right">
            <input type="text" class="InputSearchShiftDetails OnKeyUpSearchShiftDetails OnblurSearchShiftBlur" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>
    <div>
        <div class="ms-bgColor-white" style="overflow-x:auto;">
            <table id="AmionShiftDetailsTable" class="table table-responsive  tablesorter">
                <thead>
                    <tr>
                        @foreach (var columnName in ViewBag.orderedColumns)
                        {

                            if (columnName == "Division")
                            {
                                <th><span class="table_head_font" style="min-width: 165px; ">@columnName</span></th>
                            }
                            if (columnName == "Name")
                            {
                                <th><span class="table_head_font" style="min-width: 185px;">@columnName</span></th>
                            }
                            if (columnName == "Role")
                            {
                                <th><span class="table_head_font" style="min-width: 185px;">@columnName</span></th>
                            }
                            if (columnName == "Shift Time")
                            {
                                <th class="table_head_font" style="min-width:90px;" data-tablesorter="false"><span style="width: 148px;">@columnName</span></th>
                            }
                            if (columnName == "Pager")
                            {
                                <th class="table_head_font" data-tablesorter="false"><span style="width: 120px;">@columnName</span></th>
                            }
                            if (columnName == "Contact No")
                            {
                                <th class="table_head_font" style="min-width:150px; " data-tablesorter="false"><span style="width: 150px;">@columnName</span></th>
                            }
                            if (columnName == "Action")
                            {
                                <th class="table_head_font" data-tablesorter="false">@columnName</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var shift in Model)
                    {

                        <tr Search="@((shift.Division+shift.Role+shift.Name+shift.ShiftTime+shift.Pager+shift.Contact).ToLower())" ShiftStart="@shift.ShiftStart" ShiftEnd="@shift.ShiftEnd" Division="@shift.Division">

                            @foreach (var columnName in ViewBag.orderedColumns)
                            {

                                if (columnName == "Division")
                                {
                                    <td><span>@shift.Division</span></td>
                                }
                                if (columnName == "Name")
                                {
                                    <td><span>@shift.Name</span></td>
                                }
                                if (columnName == "Role")
                                {
                                    <td><span>@shift.Role</span></td>
                                }
                                if (columnName == "Shift Time")
                                {
                                    <td><span>@shift.ShiftTime</span></td>
                                }
                                if (columnName == "Pager")
                                {
                                    <td><span>@shift.Pager</span></td>
                                }
                                if (columnName == "Contact No")
                                {
                                    <td><span>@shift.Contact</span></td>
                                }
                                if (columnName == "Action")
                                {
                                    <td>
                                        <a href="https://teams.microsoft.com/l/chat/0/0?users=@shift.EMailId" target="_blank">
                                            <i title="Open Chat Window" style="color: #7070a2; cursor:pointer" class=" glyphicon glyphicon-comment"></i>
                                        </a>
                                    </td>
                                }
                            }
                        </tr>
                    }
                    <tr id="ShiftStatusMessage"> <td colspan="6" style="text-align:center"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    let weekday = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

    let month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    let DefaultEditShiftColumnNames = ["Division", "Name", "Role", "Shift Time", "Pager", "Contact No", "Action"];

    let $AmionShiftDetailsTable = $("#AmionShiftDetailsTable > tbody > tr[id!='ShiftStatusMessage']");

    let QueryString = (() => {
        return decodeURI(window.location.search)
            .replace('?', '')
            .split('&')
            .map(param => param.split('='))
            .reduce((values, [key, value]) => {
                values[key] = value
                return values
            }, {})
    })();


    let IsTodayDate = (() => {
        if (QueryString.selDate !== undefined) {
            var date = moment(QueryString.selDate, "YYYY-MM-DD").toDate();
            return (date.getFullYear() === new Date().getFullYear() && date.getMonth() === new Date().getMonth() && date.getDate() === new Date().getDate());
        }
        return true;
    })();

    let EditColumns = (() => { return JSON.parse($("#hdnEditColumns").val()) })();
    //
    $('.OnKeyUpSearchShiftDetails').keyup(function () { OnKeyUpSearchShiftDetails($(this)) });
    //
    OnKeyUpSearchShiftDetails = ($this) => {
        $("#ShiftStatusMessage > td").text("");
        let searchWord = $($this).val().toLowerCase();
        let showInactiveStatus = $(".chkInactiveStatus").eq(0).is(":checked");
        let $Search = showInactiveStatus ? $(".ShowDepartment") : $(".ShiftActive.ShowDepartment");

        $.each($Search, function (index, $tr) {
            let shiftContent = $($tr).attr("Search");
            if (shiftContent.indexOf(searchWord) > -1)
                $($tr).show();
            else
                $($tr).hide();

        });

        let shiftDetialsCount = $("#AmionShiftDetailsTable > tbody > tr").not(":hidden").length;
        if (shiftDetialsCount == 1)
            $("#ShiftStatusMessage > td").text("Searched shift details are not found.");
    };

    HighlightInActiveShiftHelper = (currentTime) => {
        $.each($AmionShiftDetailsTable, function (index, $tr) {
            let $TableTr = $($tr);
            let ShiftStart = parseInt($TableTr.attr("ShiftStart"));
            let ShiftEnd = parseInt($TableTr.attr("ShiftEnd"));
            if ((ShiftStart < ShiftEnd && ShiftStart <= currentTime && currentTime <= ShiftEnd) || (ShiftStart > ShiftEnd && ShiftStart <= currentTime) || (ShiftStart === ShiftEnd))
                $TableTr.removeClass("ShiftInActive").removeClass("ShiftActive").addClass("ShiftActive");
            else
                $TableTr.removeClass("ShiftActive").removeClass("ShiftInActive").addClass("ShiftInActive");
        });

    };

    formatAMPM = (date) => {
        let hours = date.getHours();
        let ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12;
        var strTime = hours + ampm;
        return strTime;
    };

    SetDatePickerDate = selDate => {
        $('#datetimepicker').handleDtpicker('setDate', new Date(selDate.getFullYear(), selDate.getMonth(), selDate.getDate(), 12, 00));
        $('#datetimepicker').val(weekday[selDate.getDay()] + ", " + month[selDate.getMonth()] + " " + selDate.getDate() + ", " + selDate.getFullYear() + (IsTodayDate === true ? " at 12pm" : ""));
    };
    //
    $('.OnclickShowHideInactiveShiftDetails').click(function () { OnclickShowHideInactiveShiftDetails($(this)) });
    //
    OnclickShowHideInactiveShiftDetails = ($this) => {
        $(".InputSearchShiftDetails").val("");

        $(".ShowDepartment").show();
        let showInactiveStatus = $this === undefined ? $(".chkInactiveStatus").eq(0).is(":checked") : $($this).is(":checked");
        $(".chkInactiveStatus").prop("checked", showInactiveStatus);
        if (showInactiveStatus)
            $(".ShiftInActive.ShowDepartment").show();
        else
            $(".ShiftInActive.ShowDepartment").hide();

        $("#ShiftStatusMessage > td").text("");
        let shiftDetialsCount = $("#AmionShiftDetailsTable > tbody > tr").not(":hidden").length;
        if (shiftDetialsCount == 1)
            $("#ShiftStatusMessage > td").text("No active shift are found. Please select an another time.");
    };

    //
    $('.OnblurSearchShiftBlur').blur(function () { OnblurSearchShiftBlur($(this)) });
    //
    OnblurSearchShiftBlur = ($this) => $(".InputSearchShiftDetails").val($($this).val());

    //
    $('.OnClickSelectDepartment').click(function (event) { OnClickSelectDepartment($(this), event) });
    //
    OnClickSelectDepartment = ($this, $event) => {

        $event.stopPropagation();
        if ($event.target.nodeName !== "INPUT")
            return;

        let allGroups = "All Groups"
        let departmentText = $($this).text().trim();
        let isAllGroupChecked = $("#chkAllGroups").is(":checked");
        let isAllGroups = departmentText === allGroups;

        if (isAllGroups) {
            $(".SelectDepartment input").prop("checked", isAllGroupChecked);
        }

        let selectedDepartmentArray = [];
        $.each($(".SelectDepartment input:checked"), function (index, $li) {
            selectedDepartmentArray.push($($li).parent().text().trim());
        });
        $AmionShiftDetailsTable.removeClass("ShowDepartment");
        $.each($AmionShiftDetailsTable, function (index, $tr) {
            if (isAllGroups || selectedDepartmentArray.length === 0) {
                if (isAllGroupChecked)
                    $($tr).addClass("ShowDepartment").show();
                else
                    $($tr).hide();
                return;
            }
            $($tr).show();
            let shiftContent = $($tr).attr("Division");
            if (selectedDepartmentArray.indexOf(shiftContent) > -1)
                $($tr).addClass("ShowDepartment").show();
            else
                $($tr).hide();
        });

        if (IsTodayDate === true)
            OnclickShowHideInactiveShiftDetails();



        let allChecked = true;
        $.each($(".SelectDepartment input"), function (index, $input) {
            if (index === 0 || allChecked === false)
                return;
            allChecked = $($input).is(":checked");
        });
        selectedDepartmentArray = selectedDepartmentArray.filter(function (item) {
            return item !== allGroups
        });
        $("#chkAllGroups").prop("checked", allChecked);
        if (allChecked === true)
            $("#SpanDepartment").html(allGroups);
        else
            if (selectedDepartmentArray.length == 0)
                $("#SpanDepartment").html("Selected 0 Groups");
            else
                if (selectedDepartmentArray.length > 1)
                    $("#SpanDepartment").html("Selected " + selectedDepartmentArray.length + " Groups");
                else
                    $("#SpanDepartment").html(departmentText);
    }
    //
    $('.OnClickSaveEditedColumns').click(function () { OnClickSaveEditedColumns() });
    //
    OnClickSaveEditedColumns = () => {
        let UpdatedOrderShiftColumnNames = [];

        $.each($("#ulEditShiftColumnList li"), function (index, $li) { UpdatedOrderShiftColumnNames.push($($li).attr("ColumnName").trim()); });


        let RemovedShiftColumnNames = [];
        $.each($("#ulRemovedShiftColumns li"), function (index, $li) { RemovedShiftColumnNames.push($($li).attr("ColumnName").trim()); });


        let $data = JSON.stringify({ 'OrderedColumns': UpdatedOrderShiftColumnNames, 'RemovedColumns': RemovedShiftColumnNames });
        // let selDate = QueryString.selDate !== undefined ? moment(QueryString.selDate, "YYYY-MM-DD").toDate() : new Date();
        $.ajax({
            url: '/Shifts/SaveEditColumns?isAdmin=' + EditColumns.IsAdmin,
            type: "POST",
            data: $data,
            contentType: "application/json",
            success: function (departmentResponse) {
                window.location.reload();
            },
            failure: function () {
            }
        });

        //if (EditColumns.IsAdmin !== undefined && EditColumns.IsAdmin == false)
        //    UpdateShiftDetailsTableColumnOrder(UpdatedOrderShiftColumnNames);
        $("#divEditColumnModel").hide();

    };

    UpdateShiftDetailsTableColumnOrder = (UpdatedOrderShiftColumnNames) => {
        if ($("#AmionShiftDetailsTable").length > 0) {

            if (UpdatedOrderShiftColumnNames !== null) {

                if (UpdatedOrderShiftColumnNames !== undefined && Array.isArray(UpdatedOrderShiftColumnNames) && UpdatedOrderShiftColumnNames.length > 0) {
                    let TableEditColumns = [];
                    $.each($("#AmionShiftDetailsTable thead th"), function (index, value) { TableEditColumns.push($(value).text()); });
                    $.each(UpdatedOrderShiftColumnNames, function (index, value) {
                        let colNameIndex = TableEditColumns.indexOf(value);
                        TableEditColumns.splice(index, 0, value);
                        TableEditColumns = GetUnique(TableEditColumns);
                        jQuery.each($("#AmionShiftDetailsTable tr"), function () {
                            $(this).children(":eq(" + colNameIndex + ")").show();
                            $(this).children(":eq(" + index + ")").before($(this).children(":eq(" + colNameIndex + ")"));
                        });
                    });
                }

                if (EditColumns.RemovedShiftColumnNames !== undefined && Array.isArray(EditColumns.RemovedShiftColumnNames) && EditColumns.RemovedShiftColumnNames.length > 0) {
                    let TableEditColumns = [];
                    $.each($("#AmionShiftDetailsTable thead th"), function (index, value) { TableEditColumns.push($(value).text()); });
                    $.each(EditColumns.RemovedShiftColumnNames, function (index, value) {
                        let colNameIndex = TableEditColumns.indexOf(value);
                        jQuery.each($("#AmionShiftDetailsTable tr"), function () {
                            $(this).children(":eq(" + colNameIndex + ")").hide();
                        });
                    });
                }

            }
        }
    };

    LoadEditColumnFromLocalStorage = () => {
        // let EditShiftColumnNames = $("#hdnEditColumns").val();//'{ "UpdatedOrderShiftColumnNames": ' + OrderedColumnJsonString + ', "RemovedShiftColumnNames": ' + ExcludedColumnJsonString + ' }';     //localStorage.getItem("EditShiftColumnNames");
        if (EditColumns !== null) {

            if (EditColumns.UpdatedOrderShiftColumnNames !== undefined && Array.isArray(EditColumns.UpdatedOrderShiftColumnNames) && EditColumns.UpdatedOrderShiftColumnNames.length > 0) {
                $.each(EditColumns.UpdatedOrderShiftColumnNames, function (index, colName) {

                    if (EditColumns.IsAdmin !== undefined && EditColumns.IsAdmin === true)
                        $("#ulEditShiftColumnList").append('<li ColumnName="' + (colName) + '" ><a class="btnEditColumn">' + colName + '<i title="Remove column"  onclick="RemoveColumn(this,\'' + colName + '\')">x</i></a></li>');
                    else
                        $("#ulEditShiftColumnList").append('<li ColumnName="' + (colName) + '" ><a class="btnEditColumn">' + colName + '</a></li>');
                });
            }
            if (EditColumns.IsAdmin !== undefined && EditColumns.IsAdmin === true)
                if (EditColumns.RemovedShiftColumnNames !== undefined && Array.isArray(EditColumns.RemovedShiftColumnNames) && EditColumns.RemovedShiftColumnNames.length > 0) {
                    $("#divAddColumn").show();
                    $.each(EditColumns.RemovedShiftColumnNames, function (index, colName) {
                        if (EditColumns.IsAdmin !== undefined && EditColumns.IsAdmin === true)
                            $("#ulRemovedShiftColumns").append('<li ColumnName="' + (colName) + '" ><a class="btnEditColumn">' + colName + '<i title="add column"  onclick="AddColumn(this,\'' + colName + '\')">+</i></a></li>');
                        else
                            $("#ulRemovedShiftColumns").append('<li ColumnName="' + (colName) + '" ><a class="btnEditColumn">' + colName + '</a></li>');
                    });
                }
                else {
                    $("#divAddColumn").hide();
                }

        }
    };


    RemoveColumn = ($this, colName) => {
        if (EditColumns.IsAdmin !== undefined && EditColumns.IsAdmin === true)
            $("#ulRemovedShiftColumns").append('<li ColumnName="' + (colName) + '" ><a class="btnEditColumn">' + colName + '<i title="add column"  onclick="AddColumn(this,\'' + colName + '\')">+</i></a></li>');
        else
            $("#ulRemovedShiftColumns").append('<li ColumnName="' + (colName) + '" ><a class="btnEditColumn">' + colName + '</a></li>');
        $($this).closest("li").remove();
        if ($("#ulRemovedShiftColumns li").length === 0)
            $("#divAddColumn").hide();
        else
            $("#divAddColumn").show();
    };

    AddColumn = ($this, colName) => {
        if (EditColumns.IsAdmin !== undefined && EditColumns.IsAdmin === true)
            $("#ulEditShiftColumnList").append('<li ColumnName="' + (colName) + '"><a class="btnEditColumn">' + colName + '<i title="Remove column"  onclick="RemoveColumn(this,\'' + colName + '\')">x</i></a></li>');
        else
            $("#ulEditShiftColumnList").append('<li ColumnName="' + (colName) + '"><a class="btnEditColumn">' + colName + '</a></li>');
        $($this).closest("li").remove();
        if ($("#ulRemovedShiftColumns li").length === 0)
            $("#divAddColumn").hide();
    };
    //
    $('.HideEditColumnModel').click(function () { HideEditColumnModel() });
    //
    HideEditColumnModel = () => {
        $("#divEditColumnModel").hide();
    }
    //
    $('.ShowEditColumnModel').click(function () { ShowEditColumnModel($(this)) });
    //
    ShowEditColumnModel = () => {
        $("#divEditColumnModel").show();
    }

    GetUnique = (array) => {
        var uniqueArray = [];
        // Loop through array values
        for (var value of array)
            if (uniqueArray.indexOf(value) === -1)
                uniqueArray.push(value);
        return uniqueArray;
    };

    $(function () {
        $("#divEditColumnModel").hide();
        LoadEditColumnFromLocalStorage();
        $('.tablesorter').tablesorter();
        $(".SelectDepartment input").prop("checked", true);
        $AmionShiftDetailsTable.addClass("ShowDepartment").addClass("ShiftActive");

        if (IsTodayDate === false) {
            $(".ShowSwitchIfToday").hide();
        }

        $('#datetimepicker').appendDtpicker({
            "amPmInTimeList": true,
            "minuteInterval": 60,
            "locale": "en",
            "todayButton": false,
            "closeButton": false,
            "dateOnly": IsTodayDate === false,
            "onSelect": function (handler, targetDate, isDateClick) {
                var datePickerDate = handler.getDate();
                $('#datetimepicker').val(weekday[datePickerDate.getDay()] + ", " + month[datePickerDate.getMonth()] + " " + datePickerDate.getDate() + ", " + datePickerDate.getFullYear() + (IsTodayDate === true ? " at " + formatAMPM(datePickerDate) : ""));
                $('#datetimepicker').handleDtpicker('hide');

                if (isDateClick === "date")
                    window.location.href = "/Shifts/Index?selDate=" + datePickerDate.getFullYear() + "-" + (("0" + (datePickerDate.getMonth() + 1)).slice(-2)) + "-" + (("0" + datePickerDate.getDate()).slice(-2));
                else {
                    if (datePickerDate.getFullYear() === new Date().getFullYear() && datePickerDate.getMonth() === new Date().getMonth() && datePickerDate.getDate() === new Date().getDate()) {
                        let currentTime = parseInt(("0" + datePickerDate.getHours()).slice(-2) + "" + ("0" + datePickerDate.getMinutes()).slice(-2));
                        HighlightInActiveShiftHelper(currentTime);
                        OnclickShowHideInactiveShiftDetails();
                    }
                }

            }
        });

        $('#ulEditShiftColumnList').sortable({
            accept: '*',
            activeClass: '',
            cancel: 'input, textarea, button, select, option',
            connectWith: '.droppable',
            disabled: false,
            forcePlaceholderSize: false,
            handle: false,
            initialized: false,
            items: 'li, div',
            placeholder: 'placeholder',
            placeholderTag: null,
            upHandler: null,
            receiveHandler: null
        });

        let selDate = QueryString.selDate !== undefined ? moment(QueryString.selDate, "YYYY-MM-DD").toDate() : new Date();
        SetDatePickerDate(selDate);

        if (IsTodayDate === true) {
            HighlightInActiveShiftHelper(1200);
            OnclickShowHideInactiveShiftDetails();
        }

        if (IsTodayDate === true)
            setInterval(() => {
                try {
                    let height = $($(".datepicker_calendar")[0]).height();
                    if (height > -1)
                        $(".datepicker_timelist").css("height", height);
                } catch (e) { }
            }, 100);

        setInterval(() => {
            let MainRightDiv = $("#MainRightDiv").width();
            let MainLeftDiv = $("#MainLeftDiv").width();
            let MainNavBar = $("#MainNavBar").width();

            if (MainNavBar < MainLeftDiv + MainRightDiv + 30) {
                $("#ChildMainDiv").show();
                $("#MainRightDiv").hide();
            }
            else {
                $("#ChildMainDiv").hide();
                $("#MainRightDiv").show();
            }
        }, 300);
    });
</script>


