﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <link href="~/Content/DatetimepickerExtend.css" rel="stylesheet" />
    <script src="~/Scripts/Datetimepickerextend.js"></script>
    <script src="~/Scripts/TableSorter.js"></script>
    <script src="~/Scripts/touch-dnd.js"></script>
    <style>
        .has-search .form-control-feedback {
            right: 0;
            left: initial;
            color: #ccc;
        }

        .has-search .form-control {
            padding-right: 30px;
            padding-left: 3px;
        }


        .AMiONShiftTitle {
            color: #7070a2;
            font-weight: bold;
        }
    </style>
</head>
<body>

    @*<div class="container body-content">*@
        @RenderBody()
    @*</div>*@


</body>
</html>
